* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body, header, footer{
    font-family: 'Gilroy-Bold', sans-serif;
}
header{
    height: 100px;
    background-color: #026D81;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.logocal{
    width: 90px;
}
.logoif{
    width: 100px;
    margin-left: auto;

}
.t1{
    font-size: 44px;
    flex-grow: 1;
    text-align: center;
}


.div1 { 
    background-color: #F1EAE0;
    white-space: pre-line;
    padding-bottom: 60px; /* Ajusta o padding inferior para não deixar tanto espaço */
    flex-direction: row; /* Organiza as divs na mesma linha */
    height: 4000px;
}

.s1 {
    color: #E9311A;
    font-size: 80px;
    text-align: center;
}

.s2 {
    color: #ED6335;
    font-size: 44px;
    text-align: center;
}

.setabaixo {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

.linhasig {
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
    height: 3400px;
}

.esq, .dir {
    font-size: 18px;
    width: 550px;
}

.esq {
    margin-top: 220px;
    margin-left: 90px;
}

.dir {
    margin-top: -3450px; 
    margin-left: 700px;
}

.l1, .l3, .l5, .l7, .l9, .l11, .l13, .l15, .l17, .l19, .d1, .d3, .d5, .d7, .d9, .d11, .d13, .d15, .d17, .d19 {
    color: #064C72;
    width: 550px;
    font-size: 30px;
}

.l2, .l4, .l6, .l8, .l10, .l12, .l14, .l16, .l18, .l20, .d2, .d4, .d6, .d8, .d10, .d12, .d14, .d16, .d18, .d20 {
    color: #ED6335;
    width: 550px;
    font-size: 28px;
}

footer{
    height: 100px;
    background-color: #026D81;
    color: white;
    font-size: 24px;
    
}
a{
    text-decoration: none;
    color: inherit;
}
.li1, .li2{
    position: relative;
    left: 15px;
    top: 15px;
}
.email{
    right: 15px;
    position: relative;
    text-align: right;
    bottom: 20px;
}
@media screen and (max-width: 768px) { 
/* tablet */
    .s1{
        font-size: 60px;
    }
    .s2{
        font-size: 37px;
    }
    .setabaixo{ position: relative;
        top: -2400px;
    }
    .linhasig{
        display: none;
    }
    .esq, .dir{
        font-size: 28px;
    }
    .dir{
        position: relative;
        top: 800px;
        right: 610px;
    }
    .div1{
        height: 4800px;
    }

}
@media screen and (max-width: 480px){
    /* celular */
    .t1{
        font-size: 35px;
    }
    .logocal{
        width: 75px;
    }
    .logoif{
        width: 90px;
        padding-right: 10px;
    }
    
    footer{
        font-size: 18px;
    }
    .email{
        top: 10px;
    }
    .s1{
        font-size: 48px;
    }
    .s2{
        font-size: 25px;
    }
    .setabaixo{ position: relative;
        top: -2700px;
    }
    
    .esq, .dir{ position: relative;
        width: 300px;
    }
    .esq{
        right: 60px;
    }
    .dir{
        position: relative;
        top: 3140px;
        right: 670px;
    }
    .l1, .l3, .l5, .l7, .l9, .l11, .l13, .l15, .l17, .l19, .d1, .d3, .d5, .d7, .d9, .d11, .d13, .d15, .d17, .d19 {
        font-size: 20px;
        width: 300px;
    }
    .l2, .l4, .l6, .l8, .l10, .l12, .l14, .l16, .l18, .l20, .d2, .d4, .d6, .d8, .d10, .d12, .d14, .d16, .d18, .d20 {
        font-size: 16px;
        width: 300px;
    }
    .div1{
        height: 5300px;
    }
}