* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body, header, footer{
    font-family: 'Gilroy-Bold', sans-serif;
}
header{
    height: 100px;
    background-color: #026D81;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.logocal{
    width: 90px;
}
.logoif{
    width: 100px;
    margin-left: auto;

}
.t1{
    font-size: 44px;
    flex-grow: 1;
    text-align: center;
}
.div1{
    height: 500px;
    background-color: #F1EAE0;
}
.l1, .l2, .l3, .l4{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.l1, .l2, .l3, .l4{
    color: #E3562B;
}
.l1{
    font-size: 108px;
}
.l2{
    font-size: 44px;
    top: 30px;
}
.l3{
    font-size: 25px;
    top: 50px;
}
.l4{
    font-size: 108px;
    font-style: italic;
    z-index: 1;
    top: 80px;
}
.retangulu{
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
    width: 630px;
}
.tracolaranja{
    height: 10px;
    display: block;
    margin: 0 auto;
}
.div2{
    height: 500px;
    background-color: #8DB5AD;
}
.b2, .b3, .b4{
    position: relative;
    color: white;
    white-space: pre-line;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    
}
.b1{
    padding-top: 30px;
    position: relative;
    color: #026D81;
    font-size: 80px;
    text-align: center;

}
.azul1, .azul2{
    height: 4px;
    padding-left: 50px;
}

.b3{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.azul2{
    top: 10px;  
}
.b4{
    top: 10px;
}
.seta1, .seta2, .seta3{
    position: absolute;
    height: 100px;
}
.seta1{
    top: 730px;
    left: 500px;
}
.seta2{
    top: 840px;
    left: 400px;
}
.seta3{
    right: 400px;
    top: 980px;
}
.div3{
    height: 700px;
    background-color: #F1EAE0;
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 120px;
}
.qs, .faq, .mapa, .siglas, .calen{
    height: 200px;
    position: relative;
}
.qst, .faqt, .mapat, .siglast, .calent{
    position: relative;
    color: #E93119;
    font-size: 28px;
    font-weight: 900;
    width: 230px;
}
.qst{
    left: 5px;
}
.faq, .faqt{
    left: 430px;
    bottom: 230px;
}
.faqt{
    left: 508px;
}
.mapa, .mapat{
    position: absolute;
    right: 80px;
    top: 1190px;
}
.mapat{
    top: 1390px;
    right: 10px;
    width: 300px;
}
.siglas, .siglast{
    position: absolute;
    top: 1440px;
    left: 330px;
    
}
.siglast{
    top: 1650px;
    left: 396px;
}
.calen, .calent{
    position: absolute;
    right: 300px;
    top: 1450px;
}
.calent{
    top: 1655px;
    right: 256px;
}
footer{
    height: 100px;
    background-color: #026D81;
    color: white;
    font-size: 24px;
    
}
a{
    text-decoration: none;
    color: inherit;
}
.li1, .li2{
    position: relative;
    left: 15px;
    top: 15px;
}
.email{
    right: 15px;
    position: relative;
    text-align: right;
    bottom: 20px;
}
@media screen and (max-width: 768px) {
    /* tablet */
    .l1{
        font-size: 80px;
    }
    .tracolaranja{
        height: 8px;
    }
    .l2{
        font-size: 40px;
    }
    .l3{
        font-size: 25px;
    }
    .retangulu{
        width: 500px;
        height: auto;
        top: 35px;
    }
    .l4{
        font-size: 80px;
        top: 150px;
    }
    .b1{
        font-size: 75px;
    }
    .azul1, .azul2{
        height: 3px;
    }
    .b2, .b3, .b4{
        font-size: 21px;
    }
    .seta1{
        left: 620px;
    }
    .seta2{ 
        left: -20px;
        top: 820px;
    }
    .seta3{
        left: 620px;
        top: 940px;
    }
    .qs, .faq, .mapa, .siglas, .calen{
        height: 150px;
    }
    .qst, .faqt, .mapat, .siglast, .calent{
        font-size: 23px;
    }
    .qs{
        right: 60px;
    }
    .qst{
        left: -70px;
    }
    .faq{
        left: 190px;
        top: -180px;
    }
    .faqt{
        left: 250px;
        top: -180px;
    }
    .mapa{
        right: 40px;
        top: 1180px;
    }
    .mapat{
        right: -80px;
        top: 1345px;
    }
    .calen{
        left: 200px;
    }
    .calent{
        left: 210px;
        top: 1620px;
    }
    .siglas{
        left: 450px;
        top: 1460px;
    }
    .siglast{
        left: 500px;
        top: 1620px;
    }
}
@media screen and (max-width: 480px){
    /* celular */
    .t1{
        font-size: 35px;
    }
    .logocal{
        width: 75px;
    }
    .logoif{
        width: 90px;
        padding-right: 10px;
    }
    
    footer{
        font-size: 18px;
    }
    .email{
        top: 10px;
    }
    
    .div1{
        height: 400px;
        padding-top: 40px;
    }
    .l1{
        font-size: 48px;
    }
    .tracolaranja{
        height: 5px;
    }
    .l2{
        font-size: 22px;
    }
    .l3{
        font-size: 16px;
    }
    .retangulu{
        width: 340px;
    }
    .l4{
        font-size: 58px;
        top: 110px;
    }
    .b1{
        font-size: 40px;
    }
    .azul1, .azul2{
        height: 1.5px;
    }
    .b2, .b3, .b4{
        font-size: 15px;
        width: 400px;
    }
    .b2, .b4{
        right: 20px;
    }
    .b3{
        right: 15px;
    }
    .seta1{
        left: 300px;
        top: 570px;
    }
    .seta2{
        top: 680px;
    }
    .seta3{
        left: 300px;
        top: 800px;
    }
    .seta1, .seta2, .seta3{
        height: 85px;
    }
    .qs, .faq, .mapa, .siglas, .calen{
        height: 80px;
    }
    .qst, .faqt, .mapat, .siglast, .calent{
        font-size: 16px;
        width: 100px;
    }
    .qs{
        right: 90px;
    }
    .qst{
        left: -100px;
        width: 120px;
    }
    .faq{
        left: 40px;
        top: -104px;
    }
    .faqt{
        left: 70px;
        top: -104px;
    }
    .mapa{
        left: 270px; 
        top: 1080px;
    }
    .mapat{
        text-align: center;
        left: 262px;
        top: 1170px;
        width: 100px;
    }
    .calen{
        left: 90px;
        top: 1250px;
    }
    .calent{
        left: 85px;
        top: 1330px;
    }
    .siglas{
        left: 210px;
        top: 1250px;
    }
    .siglast{
       left: 225px; 
       top: 1330px;
    }
    .div3{
        height: 400px;
    }
}